@model FeatureController.Features.Foo.ViewModels.FooEditViewModel

@using (Ajax.BeginForm(new AjaxOptions
{
    OnFailure="ajaxFailure"
}))
{
    @Html.ValidationSummary(false)

    @Html.HiddenFor(x => x.Id)
    <div class="control-group">
        @Html.LabelFor(x => x.FooEingabe)
        @Html.EditorFor(x => x.FooEingabe)
    </div>

    <button type="submit" class="btn">Speichern</button>
}

@section Scripts{
    <script type="text/javascript">
        function ajaxFailure(xhr) {
            var $form = $(this);
            $form.find('.control-group.has-error').removeClass('has-error');

            if (xhr.status === 400) {
                var response = JSON.parse(xhr.responseText);
                var fields = Object.keys(response);
                //$response.text(vkbeautify.json(xhr.responseText, 2));

                fields.forEach(function (field) {
                    if (response[field].Errors && response[field].Errors.length > 0) {
                        $('[name=' + field + ']')
                            .closest('.control-group')
                            .addClass('has-error');
                    }
                });
            }
        }
    </script>
}